

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-image: url(image/1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 120vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    box-shadow: rgba(0,0,0,0.2) 0 0 10px;
    background-color: rgb(255, 255, 255);

}
.solution {
    display: flex;
    justify-content:left;
    margin: -20px;
}
.home {
    color: rgb(69, 248, 123);
}
ul {
    list-style: none;
    display: flex;
    margin-left: 300px;
    font-size: 14px;
    
}
ul li {
    margin: 0 10px;
    
}
a {
    text-decoration: 0;
    color: #656060;
    font-weight: bold;
    padding: 10px ;
    border-radius: 5px;
    
}

.work {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    
    
}
h3 {
  font-size: 35px;
  font-weight: lighter;
}
h4 {
    font-size: 30px;
    margin: 30px;
    
}
.our {
    padding: 10px 60px;
    margin: 20px;
    border: 20px;
    box-sizing: border-box;
    background-color: rgb(17, 253, 127);
    
}

/* Part 2 du projet*/

.container {
    background-color: #fff;
    background-position: 1000px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    font-size: 18px;
    gap: 20px;
    padding: 30px;
    
    margin: 150px ;
    

}
.grid-items {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    width: 400px;
    padding: 10px 15px;
    margin: 5px;

    
}

.grid-items img {
    width: 70px;
    height: auto;
    align-items: flex-start;

}

.fully {
    
    margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #0c0c0c;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    
}
/*partie 3 du projet*/
.providing {
  background: url(image/divider-bg.jpg);
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.providing-text h1 {
  margin-bottom: 5px;
}
.high-green {
  color: #65b11d;
}
.sub-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.white {
  background-color: white;
  color: #0c0c0c;
  padding: 6px;

}

/* part 4 du projet*/
.about-section {
  display: flex;
  justify-content: space-between;
  
  gap: 60px;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.about-text, .barre-container {
  flex: 1;
}
.h2-solution {
  color: #689f38;
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 50px;
  margin-bottom: -80px;
  margin-left: -200px;
}
.subtitle {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}
.paragraph {
  color: #666;
  line-height: 1.6;
}
.barre-item {margin-bottom: 25px;}
.barre-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
  color: #444;
  margin-top: 40px;
  
}
.barre-bg {
  width: 100%;
  height: 4px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.barre-fill {
  height: 100%;
  background-color: #689f38;
  border-radius: 10px;

}




/*Partie 7 du projet*/
    
h2 {
    display: flex;
    justify-content: center;
    padding: 80px;

    
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.head, .col, .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    border-collapse: collapse;
   
}

.head {
    border: 1px solid #ccc;
    height: 100px;
    align-items: center;
    padding-bottom: 10px;
    color: #5fa720;
    
}
.col {
    border: 1px solid #ccc;
    border-bottom: none;
}
.signup {
    border:  1px solid #ccc;
    border-top: none;
    
}
.signup button {
    color: white;
    padding: 15px 45px ;
    font-size: 18px;
    background-color: #5da01d;
    font-weight: bold;
    border: 1px solid white;

}
/*partie 5 du projet*/


.team {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  
}

.team h1 {
  text-align: center;
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 100px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-member {
  background: #fff;
  padding: 0;
  border-radius: 0;
  width: 360px;
  
}

.team-member img {
  width: 100%;
  border-radius: 0px;
}

.role {
  font-size: 1em;
  color: #555;
  margin-top: 15px;
}

.name-team {
  color: green;
  font-size: 1.5em;
  margin-top: -80px;
  
  
}

.team-member p {
  font-size: 0.9em;
  color: #666;
  margin-top: -50px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  text-decoration: none;
  color: #333;
  margin: 0 8px;
  font-size: 1.2em;
}

/*partie 6 du projet */

.news {
  background:URL( "image/newsletter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news h3 {
  align-items: center;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;

}
.news p {
  color: white;
  margin-top: -30px;
  margin-bottom: 80px;
}
.mail-ipt {
  width:350px;
  padding: 10px ;
  background: transparent;
  border-color: white;
  border: 1px solid white;
  border-radius: 0;
  
}
.news-mail {
  padding:10px;
  background-color:rgb(27, 185, 27);
  background-repeat:no-repeat;
  border:none;
  padding: 11px;
  width: 150px;
  margin-left: 20px;
  color: white;
  border-radius: 0;
}
.news-mail:hover{
  background-color:darkgreen;
}

/*partie 8 du projet*/
.recent-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}
.recent-project {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pic-project {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  

}
.down-menu {
  margin-top: -50px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.down-menu a {
  border: 1px solid rgba(82, 80, 80, 0.295);
  padding: 12px;
  border-radius: 0;
  
}
.pic-project img {
  width: 300px;
  
}



/*Partie 9 du projet*/

.contact-section {
  background: url('image/contact-bg.jpg') no-repeat center center/cover;
  padding: 80px 20px;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-col {
  flex: 1;
   min-width: 250px;
}

.contact-col h2 {
    font-size: 2rem; 
    margin-bottom: 10px;
    margin-top: -76px;
    margin-left: -150px;
    
    
}
h3 { margin-bottom: 20px; }
p { line-height: 1.6; opacity: 0.9; }
.contact-col p {
    
    margin-top: -60px;
    width: 300px;
    align-items: center;
    margin-bottom: 5px;

}


.social-icons img {
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
  align-items: center;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(89deg) brightness(118%) contrast(119%)  ;
  margin-top: 25px;
  margin-left: 25px;
}

.contact-info {
  list-style: none;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  
  gap: 30px;
  justify-content: right;
  align-items: right;
  width: 100%;
  margin-top: 40px;
  margin-left: 1px;

  
}

.contact-info li {
  display: flex;
  
  gap: 10px;
  justify-content: flex-start;

}
.contact-info i {
    color: #11d531;
    z-index: 1000;
    font-size: 20px;
    position: relative;
}
    

.contact-info img { 
    width: 18px;

}


.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

textarea { height: 100px; margin-bottom: 10px; resize: none; }

button {
  float: right;
  padding: 10px 30px;
  background: white;
  border: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

/*part 10 du projet*/
.footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-left p {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.footer-left a {
    color: #3498db;
    text-decoration: none;
}


.footer-right a {
    color: #555;
    margin-left: 18px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
    
}
.footer-right img {
    width: 15px;
    margin-left: 10px;
}

.carte {
  background: url(image/50c52c396914ebb312821d20f68a13ca.png);
  background-size: cover;
  height: 60vh;
}

